* {
  margin: 0px;
  padding: 0px;
}

/* aca comienza mi ccs del header */
.tiempos{
  background-color: #e8bae8;
  text-align: center;
  margin-top: 2px;
  padding: 1px;
  border-radius: 20px;
}

#bs {
 font-size: 30px;
}
#bag{
 position: absolute;
 right: 120px;
  font-size: 40px;
  background: #e8bae8;
  border-radius: 50px ;


}
#nav1{ position: absolute;
right: 300px;
font-size:x-large;
font-weight: bold;
}

#buscador{
 display: flex;
 margin-left: 60px;

}


#us{
  position: absolute;
  right: 50px;
  font-size: 40px;
  background: #e8bae8;
  border-radius: 20px ;

}

#in{
  position: absolute;
  left: 720px;
   font-size: 20px;
  

}
/* navegador 2*/
.navegador2{
  display: flex;
  height: 40px;
  background-color:#fcbdf2;
  margin-top: 15px;
  justify-content: space-evenly;
  align-items: center;
  font-size:larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Comienza mi asidemodificado */
#sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #b72191;
  left: -200px;
  transition: all 500ms linear;
}

#sidebar.active {
  left: 0px;
}

#sidebar ul li {
  color: rgba(230, 230, 230, .9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(205, 20, 230, 0.783);
  text-align: center;
}

.logo {
  border-radius: 50%;
  display: block;
  margin: 0 auto; 
}

#sidebar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
  cursor: pointer;
}

#sidebar .toggle-btn span {
  display: block;
  width: 40px;
  text-align: center;
  font-size: 30px;
  border: 3px solid hwb(317 5% 41%);
}

/* tarjetas */
.contenedor {
  max-width: 700px;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  contain: paint;
}
.contenedor .contenedor-items{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)) ;
  grid-gap: 30px;
  grid-row-gap: 30px ;
  width: 100%;
  transition: .3s;
}
.contenedor .contenedor-items .item{
  max-width: 200px;
  padding: 10px;
  margin: auto;
  border: 1px solid #666;
  border-radius: 10px;
  padding: 20px;
  transition: .3s;
}
.contenedor-items .item:hover{
  box-shadow: 0 0 10px #666; 
  scale:  1.05;
}
.contenedor-items .item .img-item{
  width: 100px;
}
.contenedor-items .item .titulo-item{
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.contenedor-items .item .precio-item{
  display:block;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}
.contenedor-items .item .boton-item{
  display: block;
  margin: 10px auto;
  border: none;
  background: black;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
  font-weight: bold;
  display: inline-block;
  font-size: 18px;
  margin-bottom: 5px; }
  .carrito .carrito-item .btn-eliminar{
      position: absolute;
      right: 15px;
      top: 15px;
      color: #000;
      font-size: 20px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
      border: 1px solid #000;
      cursor: pointer;
      display: block;
      background: transparent;
      z-index: 20;
  }
  .carrito .carrito-item .btn-eliminar i{
      pointer-events: none;
  }
  
  .carrito-total{
      background-color: #f3f3f3;
      padding: 30px;
  }
  .carrito-total .fila{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 10px;
  }
  .carrito-total .btn-pagar{
      display: block;
      width: 100%;
      border: none;
      background: #000;
      color: #fff;
      border-radius: 5px;
      font-size: 18px;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      transition: .3s;
  }
  .carrito-total .btn-pagar:hover{
      scale: 1.05;
  }
/**comienza mi ccs pie de pagina parte1**/


#piepagina{
  align-items: center;
  position: absolute ;
  width: 100%;
  right: 3px;
  top: 1700px;
  background-color: hwb(301 44% 9% / 0.822);
  
}
.siguenos{
  display: flex;
  align-items: center;
  
  
}
.redes{
  
  display: flex;
  font-size: 40px;
  top: 10px;
  gap: 20px;
  align-items: center;
      
}
.segmento1{
  display: flex;
  justify-content: space-between;
  padding: 1px;
  align-items: center;
  font-family: 'Inspiration', cursive;
font-family: 'Instrument Serif', serif;

}
.segmento2{
      display: flex;
      justify-content: space-evenly;
      gap: 20px;
      
}

.segmento2 div{
  display: flex;
  flex-direction: column;
  font-family: 'Inspiration', cursive;
  font-family: 'Instrument Serif', serif;

}

.masdirecciones{
  position: relative;
  padding: 10px 15px;
  border:none;
  outline:none;
  background: #350642;
  color: #dcc2e4;
  transition: .5s;
  overflow:hidden ;

}
.masdirecciones:hover{
  color:#fff ;
}
.masdirecciones span{
  position: absolute;
  background-color: #fff;
  transition: .5s;
}
.masdirecciones span:nth-child(1){
  width: 100%;
  height: 1px;
  left: -100%;
  top: 0;    
}
.masdirecciones span:nth-child(2){
  width: 100%;
  height: 1px;
  bottom: 0;
  right: -100%;
}
.masdirecciones span:nth-child(3){
  width: 1px;
  height: 100%;
  bottom: -100%;
  left: 0;    
}
  
.masdirecciones span:nth-child(4){
  width: 1px;
  height: 100%;
  top: -100%;
  right: 0;
}
.masdirecciones:hover span:nth-child(1){
  left:0;
}
.masdirecciones:hover span:nth-child(2){
  right: 0;
}
.masdirecciones:hover span:nth-child(3){
  bottom: 0;
}
.masdirecciones:hover span:nth-child(4){
  top: 0;
}




 

.pyp {font-size: 50px;
display: flex;
justify-content: center;}

.vs{font-size: 50px;
  display: flex;
  justify-content: center;}

.mt{font-size: 50px;
  display: flex;
  justify-content: center;}

  /*formulario*/
  .contformulario{
    width: auto;
    height: 800px;
    padding: 20px;
    margin-bottom: 20px;
    
}
form{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin: auto;
   
    border-radius: 5px;
   
    
}
form>input{
    width: 90%;
    height: 30px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: gray;
    font-size: 15px;
}
form>textarea{
    margin:auto;
}
form button{
    background-color: #b20885;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px whitesmoke;
    font-size: 20px;
    margin-left: 240px;
}
form button:hover{
    color: whitesmoke;
    width: 30%;
}




 
